<a href="https://colab.research.google.com/github/Leonardo-Leal-Salazar/Probabilidad1/blob/main/Unidad1/PRO_U1_Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y estadistica
## Unidad 1
### Programa 2: **Tablas de frecuencias**
### Facilitador: Jose Gabriel Rodriguez Rivas
### Alumno: Erik Leonardo Leal Salazar üåá ü¶ä üçÇ

In [1]:
import random
edades = []
for i in range(100):
  numero_aleatorio = random.randint(18, 70)
  edades.append(numero_aleatorio)
print(edades)

[30, 48, 41, 47, 61, 63, 23, 49, 63, 40, 44, 64, 55, 23, 46, 37, 46, 20, 35, 34, 41, 40, 59, 32, 21, 26, 38, 58, 29, 65, 19, 27, 24, 61, 69, 43, 21, 44, 59, 28, 53, 65, 51, 42, 35, 43, 34, 55, 32, 31, 64, 31, 68, 61, 60, 46, 38, 63, 35, 33, 47, 22, 61, 69, 49, 66, 65, 33, 25, 48, 38, 26, 57, 46, 39, 52, 67, 27, 47, 58, 26, 31, 57, 24, 33, 60, 57, 65, 24, 24, 55, 31, 39, 50, 24, 26, 67, 61, 56, 59]

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(edades, columns = ['Edad'])
df.head() # Muestra los primeros 5 datos del registro

   Edad
0    30
1    48
2    41
3    47
4    61

In [4]:
# Calcular la lista de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by = 'Edad')

# Imprimir la tabla de distribucion de frecuencias
print("Tabla de distribucion de frecuencias: ")
tabla_frecuencias

Tabla de distribucion de frecuencias:

    Edad  Frecuencia
36    19           1
31    20           1
28    21           2
39    22           1
21    23           2
1     24           5
42    25           1
5     26           4
26    27           2
35    28           1
34    29           1
33    30           1
3     31           4
29    32           2
8     33           3
30    34           2
7     35           3
32    37           1
10    38           3
15    39           2
19    40           2
23    41           2
37    42           1
27    43           2
18    44           2
2     46           4
6     47           3
14    48           2
20    49           2
45    50           1
41    51           1
44    52           1
38    53           1
11    55           3
46    56           1
13    57           3
24    58           2
9     59           3
17    60           2
0     61           5
12    63           3
22    64           2
4     65           4
43    66           1
16    67           2
40    68           1
25    69           2

In [5]:
tabla_frecuencias['Frec. Relativa'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa
36    19           1            0.01
31    20           1            0.01
28    21           2            0.02
39    22           1            0.01
21    23           2            0.02
1     24           5            0.05
42    25           1            0.01
5     26           4            0.04
26    27           2            0.02
35    28           1            0.01
34    29           1            0.01
33    30           1            0.01
3     31           4            0.04
29    32           2            0.02
8     33           3            0.03
30    34           2            0.02
7     35           3            0.03
32    37           1            0.01
10    38           3            0.03
15    39           2            0.02
19    40           2            0.02
23    41           2            0.02
37    42           1            0.01
27    43           2            0.02
18    44           2            0.02
2     46           4            0.04
6     47           3            0.03
14    48           2            0.02
20    49           2            0.02
45    50           1            0.01
41    51           1            0.01
44    52           1            0.01
38    53           1            0.01
11    55           3            0.03
46    56           1            0.01
13    57           3            0.03
24    58           2            0.02
9     59           3            0.03
17    60           2            0.02
0     61           5            0.05
12    63           3            0.03
22    64           2            0.02
4     65           4            0.04
43    66           1            0.01
16    67           2            0.02
40    68           1            0.01
25    69           2            0.02

In [6]:
tabla_frecuencias['Frec. Porcentual'] = tabla_frecuencias['Frecuencia'] / 100 * 100
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa  Frec. Porcentual
36    19           1            0.01               1.0
31    20           1            0.01               1.0
28    21           2            0.02               2.0
39    22           1            0.01               1.0
21    23           2            0.02               2.0
1     24           5            0.05               5.0
42    25           1            0.01               1.0
5     26           4            0.04               4.0
26    27           2            0.02               2.0
35    28           1            0.01               1.0
34    29           1            0.01               1.0
33    30           1            0.01               1.0
3     31           4            0.04               4.0
29    32           2            0.02               2.0
8     33           3            0.03               3.0
30    34           2            0.02               2.0
7     35           3            0.03               3.0
32    37           1            0.01               1.0
10    38           3            0.03               3.0
15    39           2            0.02               2.0
19    40           2            0.02               2.0
23    41           2            0.02               2.0
37    42           1            0.01               1.0
27    43           2            0.02               2.0
18    44           2            0.02               2.0
2     46           4            0.04               4.0
6     47           3            0.03               3.0
14    48           2            0.02               2.0
20    49           2            0.02               2.0
45    50           1            0.01               1.0
41    51           1            0.01               1.0
44    52           1            0.01               1.0
38    53           1            0.01               1.0
11    55           3            0.03               3.0
46    56           1            0.01               1.0
13    57           3            0.03               3.0
24    58           2            0.02               2.0
9     59           3            0.03               3.0
17    60           2            0.02               2.0
0     61           5            0.05               5.0
12    63           3            0.03               3.0
22    64           2            0.02               2.0
4     65           4            0.04               4.0
43    66           1            0.01               1.0
16    67           2            0.02               2.0
40    68           1            0.01               1.0
25    69           2            0.02               2.0

In [7]:
tabla_frecuencias['Frec. Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa  Frec. Porcentual  Frec. Acumulada
36    19           1            0.01               1.0                1
31    20           1            0.01               1.0                2
28    21           2            0.02               2.0                4
39    22           1            0.01               1.0                5
21    23           2            0.02               2.0                7
1     24           5            0.05               5.0               12
42    25           1            0.01               1.0               13
5     26           4            0.04               4.0               17
26    27           2            0.02               2.0               19
35    28           1            0.01               1.0               20
34    29           1            0.01               1.0               21
33    30           1            0.01               1.0               22
3     31           4            0.04               4.0               26
29    32           2            0.02               2.0               28
8     33           3            0.03               3.0               31
30    34           2            0.02               2.0               33
7     35           3            0.03               3.0               36
32    37           1            0.01               1.0               37
10    38           3            0.03               3.0               40
15    39           2            0.02               2.0               42
19    40           2            0.02               2.0               44
23    41           2            0.02               2.0               46
37    42           1            0.01               1.0               47
27    43           2            0.02               2.0               49
18    44           2            0.02               2.0               51
2     46           4            0.04               4.0               55
6     47           3            0.03               3.0               58
14    48           2            0.02               2.0               60
20    49           2            0.02               2.0               62
45    50           1            0.01               1.0               63
41    51           1            0.01               1.0               64
44    52           1            0.01               1.0               65
38    53           1            0.01               1.0               66
11    55           3            0.03               3.0               69
46    56           1            0.01               1.0               70
13    57           3            0.03               3.0               73
24    58           2            0.02               2.0               75
9     59           3            0.03               3.0               78
17    60           2            0.02               2.0               80
0     61           5            0.05               5.0               85
12    63           3            0.03               3.0               88
22    64           2            0.02               2.0               90
4     65           4            0.04               4.0               94
43    66           1            0.01               1.0               95
16    67           2            0.02               2.0               97
40    68           1            0.01               1.0               98
25    69           2            0.02               2.0              100

In [8]:
# Importamos la libreria with de funciones matematicas
import math

In [9]:
# Volvemos a usar la lista edades
print(edades)

[30, 48, 41, 47, 61, 63, 23, 49, 63, 40, 44, 64, 55, 23, 46, 37, 46, 20, 35, 34, 41, 40, 59, 32, 21, 26, 38, 58, 29, 65, 19, 27, 24, 61, 69, 43, 21, 44, 59, 28, 53, 65, 51, 42, 35, 43, 34, 55, 32, 31, 64, 31, 68, 61, 60, 46, 38, 63, 35, 33, 47, 22, 61, 69, 49, 66, 65, 33, 25, 48, 38, 26, 57, 46, 39, 52, 67, 27, 47, 58, 26, 31, 57, 24, 33, 60, 57, 65, 24, 24, 55, 31, 39, 50, 24, 26, 67, 61, 56, 59]

In [10]:
# Crear un dataFrame con las edades
df = pd.DataFrame({'Edad' : edades})
df

    Edad
0     30
1     48
2     41
3     47
4     61
..   ...
95    26
96    67
97    61
98    56
99    59

[100 rows x 1 columns]

In [11]:
# Calcular el numero de intervalos utilizando la regla de Surge
n = len(edades)
K = int(1 + math.log2(n))
print(("Valor de n = ", n, "\nNumero de intervalos = ", K))

('Valor de n = ', 100, '\nNumero de intervalos = ', 7)