<a href="https://colab.research.google.com/github/Leonardo-Leal-Salazar/Probabilidad1/blob/main/Unidad1/PRO_U1_Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y estadistica
## Unidad 1
### Programa 2: **Tablas de frecuencias**
### Facilitador: Jose Gabriel Rodriguez Rivas
### Alumno: Erik Leonardo Leal Salazar üåá ü¶ä üçÇ

In [3]:
import random
edades = []
for i in range(100):
  numero_aleatorio = random.randint(18, 70)
  edades.append(numero_aleatorio)
print(edades)

[56, 53, 70, 40, 64, 33, 66, 48, 61, 20, 69, 31, 38, 65, 35, 68, 52, 30, 51, 65, 37, 39, 31, 70, 39, 28, 31, 54, 33, 69, 49, 35, 37, 65, 46, 51, 50, 65, 26, 28, 34, 29, 33, 41, 51, 47, 33, 53, 51, 30, 41, 26, 54, 43, 33, 30, 40, 23, 29, 57, 22, 31, 19, 28, 54, 65, 34, 41, 30, 54, 21, 53, 57, 67, 20, 67, 30, 40, 61, 46, 30, 61, 44, 37, 45, 43, 22, 23, 62, 59, 47, 22, 66, 20, 64, 41, 69, 59, 54, 70]

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(edades, columns = ['Edad'])
df.head() # Muestra los primeros 5 datos del registro

   Edad
0    56
1    53
2    70
3    40
4    64

In [8]:
# Calcular la lista de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by = 'Edad')

# Imprimir la tabla de distribucion de frecuencias
print("Tabla de distribucion de frecuencias: ")
tabla_frecuencias

Tabla de distribucion de frecuencias:

    Edad  Frecuencia
37    19           1
14    20           3
38    21           1
10    22           3
26    23           2
22    26           2
13    28           3
29    29           2
0     30           6
4     31           4
1     33           5
23    34           2
24    35           2
12    37           3
32    38           1
20    39           2
15    40           3
6     41           4
27    43           2
39    44           1
40    45           1
21    46           2
25    47           2
30    48           1
35    49           1
34    50           1
5     51           4
33    52           1
9     53           3
3     54           5
31    56           1
18    57           2
28    59           2
8     61           3
41    62           1
16    64           2
2     65           5
17    66           2
19    67           2
36    68           1
11    69           3
7     70           3

In [9]:
tabla_frecuencias['Frec. Relativa'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa
37    19           1            0.01
14    20           3            0.03
38    21           1            0.01
10    22           3            0.03
26    23           2            0.02
22    26           2            0.02
13    28           3            0.03
29    29           2            0.02
0     30           6            0.06
4     31           4            0.04
1     33           5            0.05
23    34           2            0.02
24    35           2            0.02
12    37           3            0.03
32    38           1            0.01
20    39           2            0.02
15    40           3            0.03
6     41           4            0.04
27    43           2            0.02
39    44           1            0.01
40    45           1            0.01
21    46           2            0.02
25    47           2            0.02
30    48           1            0.01
35    49           1            0.01
34    50           1            0.01
5     51           4            0.04
33    52           1            0.01
9     53           3            0.03
3     54           5            0.05
31    56           1            0.01
18    57           2            0.02
28    59           2            0.02
8     61           3            0.03
41    62           1            0.01
16    64           2            0.02
2     65           5            0.05
17    66           2            0.02
19    67           2            0.02
36    68           1            0.01
11    69           3            0.03
7     70           3            0.03

In [10]:
tabla_frecuencias['Frec. Porcentual'] = tabla_frecuencias['Frecuencia'] / 100 * 100
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa  Frec. Porcentual
37    19           1            0.01               1.0
14    20           3            0.03               3.0
38    21           1            0.01               1.0
10    22           3            0.03               3.0
26    23           2            0.02               2.0
22    26           2            0.02               2.0
13    28           3            0.03               3.0
29    29           2            0.02               2.0
0     30           6            0.06               6.0
4     31           4            0.04               4.0
1     33           5            0.05               5.0
23    34           2            0.02               2.0
24    35           2            0.02               2.0
12    37           3            0.03               3.0
32    38           1            0.01               1.0
20    39           2            0.02               2.0
15    40           3            0.03               3.0
6     41           4            0.04               4.0
27    43           2            0.02               2.0
39    44           1            0.01               1.0
40    45           1            0.01               1.0
21    46           2            0.02               2.0
25    47           2            0.02               2.0
30    48           1            0.01               1.0
35    49           1            0.01               1.0
34    50           1            0.01               1.0
5     51           4            0.04               4.0
33    52           1            0.01               1.0
9     53           3            0.03               3.0
3     54           5            0.05               5.0
31    56           1            0.01               1.0
18    57           2            0.02               2.0
28    59           2            0.02               2.0
8     61           3            0.03               3.0
41    62           1            0.01               1.0
16    64           2            0.02               2.0
2     65           5            0.05               5.0
17    66           2            0.02               2.0
19    67           2            0.02               2.0
36    68           1            0.01               1.0
11    69           3            0.03               3.0
7     70           3            0.03               3.0

In [14]:
tabla_frecuencias['Frec. Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec. Relativa  Frec. Porcentual  Frec. Acumulada
37    19           1            0.01               1.0                1
14    20           3            0.03               3.0                4
38    21           1            0.01               1.0                5
10    22           3            0.03               3.0                8
26    23           2            0.02               2.0               10
22    26           2            0.02               2.0               12
13    28           3            0.03               3.0               15
29    29           2            0.02               2.0               17
0     30           6            0.06               6.0               23
4     31           4            0.04               4.0               27
1     33           5            0.05               5.0               32
23    34           2            0.02               2.0               34
24    35           2            0.02               2.0               36
12    37           3            0.03               3.0               39
32    38           1            0.01               1.0               40
20    39           2            0.02               2.0               42
15    40           3            0.03               3.0               45
6     41           4            0.04               4.0               49
27    43           2            0.02               2.0               51
39    44           1            0.01               1.0               52
40    45           1            0.01               1.0               53
21    46           2            0.02               2.0               55
25    47           2            0.02               2.0               57
30    48           1            0.01               1.0               58
35    49           1            0.01               1.0               59
34    50           1            0.01               1.0               60
5     51           4            0.04               4.0               64
33    52           1            0.01               1.0               65
9     53           3            0.03               3.0               68
3     54           5            0.05               5.0               73
31    56           1            0.01               1.0               74
18    57           2            0.02               2.0               76
28    59           2            0.02               2.0               78
8     61           3            0.03               3.0               81
41    62           1            0.01               1.0               82
16    64           2            0.02               2.0               84
2     65           5            0.05               5.0               89
17    66           2            0.02               2.0               91
19    67           2            0.02               2.0               93
36    68           1            0.01               1.0               94
11    69           3            0.03               3.0               97
7     70           3            0.03               3.0              100